*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}


.res1{
    background-color: #1a2228;
    align-items: center;
    padding-top: 30px;
    
}
.res2{
    background-color: #1a2228;
    align-items: center;
    padding-top: 30px;
    
}
